html 
    head 
        title Following 
        link(rel="stylesheet" href="/styles.css")
    body.homepagebackground 
        include ../partials/header
        div
            div.createtitlecontainer
                h7.centertext.yourfollowing Your Following:
                br
                |
                br
        div.followerdiv
            - let type = true;
                each follower in user.followerlist
                    li.artistfollowers.oddlist.highlight
                        a.artistlink(href="/user/user/"+follower._id) #{follower.name}


