html 
    head 
        title homepage 
        link(rel="stylesheet" href="/styles.css")
    body.homepagebackground
        include ../partials/header

        div.homepagelinks
            div.homepagelinkcontainer.homepagelinkbackgroundtop
                div.homepagelinkcenter
                    a.homepagelink.homepagelinktop(href="/user/artistFollowers") View Artists your following
            
            if newNotif.value
                div.homepagelinkcontainer.homepagelinkbackgroundmid
                    div.homepagelinkcenter
                        a.homepagelink.homepagelinkmid(href="/user/notif") View your notifications
                            img.newNotif(src="https://creazilla-store.fra1.digitaloceanspaces.com/emojis/46430/exclamation-mark-emoji-clipart-md.png", alt="", width= 40, height= 40)
            else 
                div.homepagelinkcontainer.homepagelinkbackgroundmid
                    div.homepagelinkcenter
                        a.homepagelink.homepagelinkmid(href="/user/notif") View your notifications
            
            div.homepagelinkcontainer.homepagelinkbackgroundbottom
                div.homepagelinkcenter
                    a.homepagelink.homepagelinkbottom(href="/user/userSettings") View your Profile
            
            div.homepagelinkcontainer.homepagelinkbackgroundartist
                div.homepagelinkcenter
                    a.homepagelink.homepagelinkbottom(href="/art/viewArt") View your art

            div.homepagelinkcontainer.homepagelinkbackgroundartist
                div.homepagelinkcenter
                    a.homepagelink.homepagelinkmid(href="/workshop/viewWorkshops") View your workshops
        div.homepagemain
            div
                br
                |
                br
                h7.homepagesearchtitle Explore ArtWorld 
                br
                |
                br
                input.homepagesearch(type="text", id = "searchtext")
                br
                |
                br
                input.homepagesearchbutton.homepagebutton(type="button", value="Search Artists", id = "searchartists")
                | 
                input.homepagesearchbutton.homepagebutton(type="button", value="Search Art", id ="searchart")
                | 
                input.homepagesearchbutton.homepagebutton(type="button", value="Filter Art", id = "filters")
            br
            div.hide.filter(id = "filterselection")
                input(type="text", id="artist")
                label(for="artist") Artist
                br
                input(type="number" id = "yearlower" value = "0")
                label(for="yearlower") Year(Min)
                br
                input(type="number" id = "yearhigher" value ="2023")
                label(for="yearhigher") Year(Max)
                br
                select(name="categories" id = "categories")
                    option(value="all") -all categories- 
                | 
                select(name="medium" id = "medium")
                    option(value="all") -all mediums-
                br
                |
                br
                input.homepagesearchbutton(type="button", value="Search Art", id = "filteredart")

            br
            div.homesearchcontainer.hide(id="searchcontainer") 
                h7.homepagesearchresulttitle Results
                ul.homepagesearchresults(id = "searchresults")
            nav 
                div(id = "pageNum")
    script(src="/homepage.js")