html
    head 
        title Notifications
        link(rel="stylesheet" href="/styles.css")
    body 
        include ../partials/header
        p New Art
        br
        |
        br
        |
        br
        p New Workshops
        br
        |
        br
        input(type="button", value="Clear Notifications" id="delNotif")