html
    head 
        title Notifications
        link(rel="stylesheet" href="/styles.css")
    body.homepagebackground 
        include ../partials/header
        div.notifcenter
            p.notifTitle No Notifications