.hide{
    display:none;
}
.heade{
    margin-left: 41%;
    /* min-width: min-content;
    max-height: fit-content; */
    /* text-align: center; */
}
.headerhome{
    text-decoration: none;
    background-color: grey;
    color:bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1vw;
    padding: 0.5vw;
    /* width:10vw; */
}
.headerlogged{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: 1vw;
    padding: 0.5vw;
    background-color:rgb(149, 250, 166) ;
    color: grey;
}
.headerloggeduser{
    color:  rgb(1, 88, 20);
}
.headerlogout{
    text-decoration: none;
    background-color: rgb(192, 61, 61);
    color:bisque;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-size: 1vw;
    padding: 0.5vw;
}
.loginbackground{
    background-color: rgb(236, 248, 194);
}
.logintitle{
    margin-top:1vw;
}
.loginwelcome{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(49, 49, 49);
    font-weight: lighter;
    font-size: 3vw ;
    margin-left: 20%;
}
.loginartworld{
    font-size: 7vw;
    margin-left: 10%;
}
.loginpage{
    margin: auto;
    margin-top: -10px;
    width: max-content + 10%;
    height: 110%;
    padding: 25px;
}
.centertext{
    text-align: center;
}
.logininput{
    margin-bottom: 1%;
    width: 85%;
    font-size:larger;
    border-radius: 7px;
    padding: 6px;
    border: 0pcx;
}
.loginmargin{
    margin-bottom: 5%;
}
.loginbutton{
    background-color:rgb(0, 109, 42);
    color:white;
    font-weight: bold;
}
.logincontainer{
    width:fit-content;
    background-color: white;
    border: 6px;
    border-color: rgb(1, 88, 20);
    border-style:outset;
    border-radius: 10px;
    margin: auto;
    padding-top: 12px;
    padding-bottom: 17px;
    padding-left: 10px;
    padding-right: 10px;
}
.loginlabel{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logincreateuser{
    margin:auto;
    border: 1px;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    background-color: rgb(0, 68, 26);
    padding: 1px;
    margin-top: 1vw;
    width: fit-content;
}
.logincreateuserbutton{
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:10px
}
.createinput{
    width:50%;
    text-align: center;
}
.createtitle{
    font-size: 5vw;
    color:rgb(0,68,26);
    font-family: sans-serif;
}
.createtitlecontainer{
    margin:auto;
    
    border-radius: 10px;
    width:max-content;
    padding: 10px;
}
.homepagelink{
    font: bold 1vw Arial;
    text-decoration: none;
    padding-top:calc((17vh/2));
    padding-bottom:calc((12vh/2));
    color:rgb(236, 248, 194) ;

    
}
.homepagelinkbackgroundtop{
    background-color: rgb(0,68,26);
    border-top: 0.5vh solid rgb(236, 248, 194);
}
.homepagelinkbackgroundmid{
    background-color: rgb(0,100,26);
   
}
.homepagelinkbackgroundbottom{
    background-color: rgb(68, 168, 85);
}
.homepagelinkbackgroundartist{
    background-color: rgb(145, 145, 145);
}
.homepagelinktop{
    padding-left:1.5vw;
    padding-right: 1.5vw;
}
.homepagelinkmid{
    padding-left:2vw;
    padding-right: 2vw;
}
.homepagelinkbottom{
    padding-left:3vw;
    padding-right: 3vw;
}

.homepagelinks{
    
    float: left;
    position:relative;
    width:calc(34.91vw/2);
    height:fit-content;
    margin-left: 2vw;

    
}
.homepagelinkcontainer{
    margin-top: 10px;
width:calc(31.90vw/2);
height:calc(15vh/2);
padding-top: calc(12.96vh/2);
border-left: 0.5vh solid rgb(236, 248, 194);
border-bottom: 0.5vh solid rgb(236, 248, 194);
border-right: 0.5vh solid rgb(236, 248, 194);
border-top: 0.5vh solid rgb(236, 248, 194);
    border-radius: 5vh;
}
.homepagelinkcenter{
    width:fit-content;
    height: fit-content;
    margin: auto;
    
}
.homepagemain{
    
    float: left;
    position:relative;
    width:65vw;
    height:100vh;
text-align: center;
    
}

.homepagebackground{
    background-color: rgb(197, 197, 197);
    margin:0;
}

.homepagesearchtitle{
    font-size: 6vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.homepagesearch{
    width:37vw;
    text-align: center;
}
.homepagesearchbutton{
    background-color: rgb(0,68,26);
    color:rgb(236, 248, 194);
    border: 1vh outset rgb(4, 36, 0);
    border-radius:5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.homepagesearchresults{
    list-style-type: none;
    
}
.homepagesearchimage{
    width:10vw;
    display:inline-block;
    margin:auto;
    padding: 5vh;
    
}
.imagelink{
    color: black;
    padding-top: 200px;
    /* padding-left:25%;
    padding-right:8vw; */
    /* width: 0px; */
}
.centerimage{
    margin-right:10vw;
    border: 5px solid black;
}
.homesearchcontainer{
    border: 5px outset rgb(0,68,26);
    width: 34vw;
    margin: auto;
    padding-right: 50px;
    padding-bottom:10px;
   
    
}
.homesearchcontainerart{
    /* border: 5px outset rgb(0,68,26); */
    width: 55vw;
    margin: auto;
    padding-right: 5vw;;
    /* padding-bottom:10px; */
    
    
}
.homepagesearchresulttitle{
    text-align: left;
    margin-left: 7%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: darkgray;
    font-size: 3vw;
}
.artistfollowers{
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding-top:0.5vh;
    padding-bottom:0.5vh;
    color: azure;
    width:30vw;
    
}
.oddlist{
    border: 2px solid black;
    margin-top: 1px;
}
.evenlist{
    background-color:rgb(138, 252, 138);
}
.artistlink{
    color:black;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    padding: 7vw;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    /* background-color: black; */
}
.yourfollowing{
    text-align: center;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.artdim{
    width:400;
    height:auto;
    margin-left: 39.6vw;
}
.homepageartdim{
    width:100%;
    height:20%;
}
.viewartcontainer{
    max-width: 100vw;
}
.viewarttitle{
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.border{
    border: 2px solid black;
}
.bold{
    font-weight: bolder;
}
.newNotif{
    transform: translateX(12.5vw);
    
}
.highlight:hover{
    border: 7px inset black;
}
.followerdiv{
    transform: translateX(36.5vw);
}
.resultArtistdiv{
    transform: translateX(5vw);
}
.notifcenter{
    transform: translateX(20vw);
}
.notifTitle{
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}
.artcenter{
    transform: translateX(42vw);
}
.artdesc{
    max-width: 38vw;
    transform: translateX(-7.5vw);
}
.likeart{
    /* margin-top: translateY(-18vh); */
   margin-left: 10vw;
    
}
.addreview{
    height:10vh;
    margin-left: 1vw;
}
.addtext{
    margin-left: 10vw;
    transform: translateX(-1vw);
}
.showreviews{
    margin-left: 45vw;
}
.filter{
    text-align: left;
    height:fit-content;
    margin-left: 40vw;
}
.newnotif{
    font-size: x-large;
}
.clearnotif{
    background-color: rgb(255, 255, 255);
    padding:20px;
    border:none;
}
.clickcursor:hover{
    cursor:pointer;
}
.marginleft{
    margin-left: 20vw;
}
.likebutton{
    border-radius: 15px;
}
.rmvbullet{
    list-style-type: none;
}
.usertitles{
    font-size: x-large;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.workshoptitle{
    font-size: xx-large;
    font-weight: bold;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.homepagebutton:hover{
    color: black;
}
.settingsmargin{
    margin-left:7vw;
}