header.heade 
    a.headerhome(href="/user/homepage") Home
    | 
    h7.headerlogged Currently Logged In: 
        span.headerloggeduser #{user.name}
    | 
    a.headerlogout(href="/user/logout") Logout 
br
|
br