header.heade 
    a.headerhome(href="/homepage") Home
    | 
    h7.headerlogged Currently Logged In: 
        span.headerloggeduser #{user.name}
    | 
    a.headerlogout(href="/logout") Logout 
br
|
br